/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialogboxClass .mat-dialog-container {
    padding: 20px;
    //overflow: hidden;
    height: 550px;
    width: 900px;
}

.dialogboxClass .mat-dialog-content {
    margin: 0;
}

.dialogboxClass .mat-dialog-actions {
    margin-bottom: 0px !important;
    padding: 20px 30px;
}

.icon{
    height:16px;
    width: 16px;
}