<mat-card class="form">
  <div class="imagecontainer">
    <h2 mat-subheader class="subheader">USER LOGIN</h2>
    <img class="logoimage" src='../../assets/images/user_login_logo.jpg'>
  </div>
  <mat-divider [inset]="true"></mat-divider>
  <div class="formcontainer">

    <mat-form-field appearance="outline">
      <mat-label>Enter email</mat-label>
      <input matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter password</mat-label>
      <input type="password" matInput placeholder="Input">
    </mat-form-field>
  </div>
  <div class="buttoncontainer">

      <button mat-button>Login</button>
      <button mat-button color="primary">New User?</button>
      <button mat-button color="warn">Forgot Password?</button>

    </div>
</mat-card>