<div mat-dialog-content fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" >
    <div fxLayout="row">
        <button mat-icon-button matToolTip="Cancel"><mat-icon>close</mat-icon></button>
        <input matInput placeholder="Create new label" [(ngModel)]="labelName">
        <button mat-icon-button matToolTip="Create Label" (click)="createNewLabel()"><mat-icon>done</mat-icon></button>
    </div>

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="end end">
      <button mat-button (click)="onDone()">Done</button>
    </div>
  </div>


