.cardcontainer{
    margin:40px;

}
.mat-card{
    border-radius: 20px;
    margin:2px;
    align-self: flex-start;
}
p{
    word-break: break-all;
    white-space: normal;

}
.mat-button{
    min-width: 0px;
}
