<div fxLayout="row wrap" class="cardcontainer" fxLayoutAlign="center start">
    <mat-card class="displaycard" *ngFor="let record of records" [ngStyle]="{background:record.color}">
        <div (click)="openDialog(this.record)">
            <span class="title">{{record.title}}</span>
            <span class="description">{{record.description}}</span>
            <div *ngFor="let noteLabel of record.noteLabels">
                <div style="font-size: 10px">{{noteLabel.label}}</div>
            </div>
        </div>
        <div fxLayoutAlign="start start" fxFLex="100">
            <app-icontray [recordid]=record.id [isArchived]="isArchived" [isDeleted]="isDeleted" (messageEvent)="receiveUpdateMessage($event)"></app-icontray>
        </div>
    </mat-card>
</div>
<!-- (mouseover)="hover=true" (mouseleave)="hover=false" -->
<!-- *ngIf="hover&&record.i=record.id" -->