<!-- <div *ngIf="displayType=='list' " fxLayout="column" class="listcardcontainer">
    <mat-card class="displaycardlist" *ngFor="let record of records" [ngStyle]="{background:record.color}">
        <div (click)="openDialog(this.record)">
            <p class="title">{{record.title}}</p>
            <p class="description">{{record.description}}</p>
            <div class="chiplist" fxLayoutGap="5px">
                <mat-chip-list>
                    <mat-chip class="chip" *ngFor="let noteLabel of record.noteLabels" [ngStyle]="{background:record.color}">
                        {{noteLabel.label}}
                        <button mat-icon-button class="hideicon" (click)="onDeleteLabelFromNote(noteLabel.id,record.id)"><img class="cross" src="../../../assets/images/close-button.svg"></button>
                    </mat-chip>
                </mat-chip-list>
                <div class="chiplist" fxLayoutGap="5px">
                        <mat-chip-list>
                            <mat-chip class="chip" *ngFor="let noteLabel of record.noteLabels" [ngStyle]="{background:record.color}">
                                {{noteLabel.label}}
                                <button mat-icon-button class="hideicon" (click)="onDeleteLabelFromNote(noteLabel.id,record.id)"><img class="cross" src="../../../assets/images/close-button.svg"></button>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
            </div>
        </div>
        <div fxLayoutAlign="start start" fxFLex="100" class="icontray">
            <app-icontray [recordid]=record.id [isArchived]="isArchived" [isDeleted]="isDeleted" (messageEvent)="receiveUpdateMessage($event)"></app-icontray>
        </div>
    </mat-card>
</div> -->
<div *ngIf="displayType=='grid' " fxLayout="row wrap" class="cardcontainer" fxLayoutAlign="center start">
    <mat-card class="displaycard" *ngFor="let record of records" [ngStyle]="{background:record.color}">
        <div (click)="openDialog(this.record)">
            <p class="title">{{record.title}}</p>
            <p class="description">{{record.description}}</p>
            <div class="chiplist" fxLayoutGap="5px">
                <mat-chip-list>
                    <mat-chip class="chip" *ngFor="let noteLabel of record.noteLabels" [ngStyle]="{background:record.color}">
                        {{noteLabel.label}}
                        <button mat-icon-button class="hideicon" (click)="onDeleteLabelFromNote(noteLabel.id,record.id)"><img class="cross" src="../../../assets/images/close-button.svg"></button>
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="chiplist" fxLayoutGap="5px">
                <mat-chip-list>
                    <mat-chip class="chip" *ngFor="let remindme of record.reminder" [ngStyle]="{background:record.color}">
                        {{remindme}}
                        <button mat-icon-button class="hideicon" (click)="onDeleteReminderFromNote(record.reminder,record.id)"><img class="cross" src="../../../assets/images/close-button.svg"></button>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div fxLayoutAlign="start start" fxFLex="100" class="icontray">
            <app-icontray [recordid]=record.id [isArchived]="isArchived" [isDeleted]="isDeleted" (messageEvent)="receiveUpdateMessage($event)"></app-icontray>
        </div>
    </mat-card>
</div>
<!-- (mouseover)="hover=true" (mouseleave)="hover=false" -->
<!-- *ngIf="hover&&record.i=record.id" -->