.cardcontainer {
    margin: 40px;
}

.mat-card {
    margin: 2px;
    align-self: flex-start;
    border-radius: 8px;
}

p {
    word-break: break-all;
    white-space: normal;
    .title {
        padding: 12px 16px 0px;
    }
    .description {
        padding: 4px 16px 12px;
    }
}

.mat-button {
    min-width: 0px;
}