body{
    margin:none;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;

}
html{
    height: 100%;
}
.background-image {
    background-image: url("../../assets/images/background-image.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.formcontainer{
 
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.subheader{
    flex-wrap: wrap;
    color:#003399;
}
.logoimage{
  
    border-radius: 15%;  
}
.buttoncontainer{
    
    flex-wrap: wrap;
    justify-content: space-around;

}


