.card {
    height: 70px;
    border-radius: 15px;
    width: 130px;
    background-color: grey;
    margin: 20px;
}

.heading {
    margin: 20px;
}

.text {
    color: white;
    font-size: 15px;
}

.blueheading {
    margin: 20px 20px 0px 20px;
    color: #48afe4;
    font-size: 12px;
}

.bluebigtext {
    margin: 20px 20px 0px 20px;
    color: #48afe4;
    font-size: 17px;
}

.blacktext {
    margin: 20px 20px 0px 20px;
    color: #202124;
    font-size: 15px;
}

.button {
    margin: 20px;
}

.box {
    margin: 20px;
    border: 1px solid black;
}

.textbox {
    margin: 20px;
    border: 1px solid grey;
    height: 100px;
}

.textt {
    border: 1px solid black;
    padding: 10px 15px;
    outline: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}