<mat-toolbar class="headercontainer">
    <span class="headerr" fxLayout="row" fxLayoutAlign="start center">
  <img class="logoimg" src="../../../assets/images/keep_app_logo.png">
  <span class="appname">fundooApp</span>
    </span>
</mat-toolbar>
<span class="appname">Choose a service to register</span>
<mat-card fxLayout="column">
    <h3>price:$99 per month</h3>
    <span class="appname">advance</span>
    <span class="appname">$99/month</span>
    <span class="appname">Ability to add title, description, images, labels, checklist and colors</span>
</mat-card>
<mat-card fxLayout="column">
    <h3>price:$49 per month</h3>
    <span class="appname">basic</span>
    <span class="appname">$49/month</span>
    <span class="appname">Ability to add only title and description</span>
</mat-card>