@import '../../styles/constants.scss';
body {
    @include default_body;
}

html {
    height: 100%;
}

.mat-subheader {
    margin: 5px;
}

.logoimage {
    border-radius: 15%;
    height: 40px;
    width: 40px;
}

.form {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 40px;
}

.subheader {
    @include heading;
}

.logoimage {
    border-radius: 15%;
}

.buttoncontainer {
    flex-wrap: wrap;
    justify-content: space-around;
}

.mat-form-field {
    width: 70%;
}