<div fxLayout="row" fxFlex="100" >
  <button mat-button  matTooltip="Add image">
    <mat-icon>image</mat-icon>
  </button>
  <button mat-button matTooltip="Remind me">
    <mat-icon>add_alert</mat-icon>
  </button>
  <button mat-button matTooltip="Change colour" [matMenuTriggerFor]="chip">
    <mat-icon>palette</mat-icon>
  </button>

  <mat-menu #chip>
    <div class="color-pallete" >
        <button mat-button style="background-color:#B39DDB"> </button>
        <button mat-button style="background-color:#F48FB1"> </button>
        <button mat-button style="background-color:#FFAB40"> </button>
        <button mat-button style="background-color:#E0E0E0"> </button>
        <button mat-button style="background-color:#FFFFFF"> </button>
        <button mat-button style="background-color:#E53935"> </button>
        <button mat-button style="background-color:#EF6C00"> </button>
        <button mat-button style="background-color:#FFEB3B"> </button>
        <button mat-button style="background-color:#B2FF59"> </button>
        <button mat-button style="background-color:#69F0AE"> </button>
        <button mat-button style="background-color:#81D4FA"> </button>
        <button mat-button style="background-color:#0288D1"> </button>
        
    </div>
</mat-menu>


  <button mat-button matTooltip="Archive">
    <mat-icon>archive</mat-icon>
  </button>
  <button mat-button matTooltip="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu>
    <button mat-menu-item>Change Labels</button>
    <button mat-menu-item>Add drawing</button>
    <button mat-menu-item>Show checkboxes</button>
  </mat-menu>
</div>