<button mat-icon-button matTooltip="Remind me">
    <img [matMenuTriggerFor]="calender" class="icon" src="../../../assets//images/add-reminder.svg" >
</button>
<mat-menu #calender>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-divider></mat-divider>
    <button mat-button (click)="setReminder(picker)">Save</button>
</mat-menu>