<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
 -->
<div fxFlex="80" fxLayout="column">
    <div fxLayout="row">
        <div fxLayout="column">
            <span class="title">{{record.title}}</span>
            <span class="description">{{record.description}}</span>
        </div>
        <div fxLayoutALign="center center">
            <button class="closebutton" mat-button routerLink="/notes">Close</button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="questionPosted=='false'" fxLayout="row">
        <textarea class="textt" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" placeholder="Type something" [(ngModel)]="questionAsked"></textarea>
        <button mat-button (click)="afterAskingQues()">Ask</button>
        <mat-divider></mat-divider>
    </div>
    <div *ngIf="questionPosted=='true'">
        <div fxLayout="column">
            <span class="title">Question asked</span>
            <span class="description">{{approvedQuesAns[0].message}}</span>
        </div>
        <mat-divider></mat-divider>
        <div *ngFor="let quesAns of approvedQuesAns">
            <span>{{quesAns.message}}</span>
            <button mat-icon-button (click)="toggle(quesAns.id)"><img class="icons" src="../../../assets/images/reply.svg"></button>
            <button mat-icon-button><img class="icons" src="../../../assets/images/thumb-up-gross-line-symbol.svg"></button>
        </div>
        <div *ngIf="show">
            <textarea class="textt" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" placeholder="Type reply" [(ngModel)]="replySent"></textarea>
            <button mat-button (click)="afterClickingReply()">Reply</button>
        </div>
        <div>
        </div>
    </div>
</div>