.textt {
    border: none;
    outline: none;
    font-size: 18px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 10px;
}

.title {
    font-size: 28px;
    color: #202124;
    margin: 10px 0px;
    width: 200px;
}

.description {
    font-size: 20px;
    color: #202124;
    margin: 10px 0px;
    width: 200px;
}

.closebutton {
    margin: 10px
}

.icons {
    height: 20px;
    width: 20px;
    color: #202124;
}