.mat-card-small {
    margin: 40px 20px 13px;
    border-radius: 8px;
    height: 46px!important;
    padding: 0;
}

.mat-card-big {
    margin: 40px 20px 13px;
    border-radius: 8px;
    padding: 0;
    height: 170px;
}

.mat-form-field {
    width: 100%;
}

.textt {
    border: none;
    //overflow: auto;
    padding: 10px 15px;
    outline: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    //-webkit-box-shadow: none;
    // -moz-box-shadow: none;
    //box-shadow: none;
    //resize: none;
}

.closebutton {
    align-self: flex-end;
}

.mat-button {
    min-width: 0px;
}