<div *ngIf="!show" fxLayoutAlign="center center">
    <mat-card [ngStyle]="{background:color}" fxFlex="60" fxLayoutAlign="center start" fxLayout="column" class="mat-card-big" [ngStyle]="{background:updateMessage}">
        <textarea class="textt" style="font-size:17px; font-weight:400;" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [formControl]="title" placeholder="Title"></textarea>
        <textarea class="textt" style="font-size:15px; " matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" placeholder="Take a note.." [formControl]="data"></textarea>
        <!-- <div class="chiplist" fxLayoutGap="5px">
            <mat-chip-list>
                <mat-chip class="chip" *ngFor="let noteLabel of record.noteLabels" [ngStyle]="{background:record.color}">
                    {{noteLabel.label}}
                    <button mat-icon-button class="hideicon" (click)="onDeleteLabelFromNote(noteLabel.id,record.id)"><img class="cross" src="../../../assets/images/close-button.svg"></button>
                </mat-chip>
            </mat-chip-list>
        </div> -->
        <div class="chiplist" fxLayoutGap="5px">
            <mat-chip *ngIf="reminder!=''" class="chip" [ngStyle]="{background:color}">
                {{reminder}}
                <!-- <button mat-icon-button class="hideicon" (click)="onDeleteReminderFromNote(record.reminder,record.id)"><img class="cross" src="../../../assets/images/close-button.svg"></button> -->
            </mat-chip>
        </div>
        <div class="chiplist" fxLayoutGap="5px" fxLayout="row wrap">
            <div *ngFor="let collaborator of collaborators">
                <mat-chip *ngIf="collaborator!=''" class="profilepic" [ngStyle]="{background:color}" matTooltip="{{collaborator.firstName+' '+collaborator.lastName}}">{{collaborator.firstName.charAt(0)+collaborator.lastName.charAt(0)}}</mat-chip>
            </div>
        </div>
        <div fxFlex="100" fxLayout="row">
            <app-icontray [takeNoteType]="takeNoteType" (messageEvent)="receiveUpdateMessage($event)"></app-icontray>
            <button mat-button (click)="onClose()" class="closebutton">Close</button>
        </div>
    </mat-card>
</div>
<div *ngIf="show" (click)="toggle()" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="100">
    <mat-card fxFlex="60" fxLayoutAlign="center start" class="mat-card-small" fxLayout="column">
        <textarea class="textt" style="font-size:17px; font-weight:400;" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" placeholder="Take a note.." [formControl]="data"></textarea>
    </mat-card>
</div>