.my-form{
    width:80%;
}

.my-form .h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: black;
}

// .my-form .form-box .label{
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
//     font-size: 1.25rem;
//     color:red;
// }
.my-form .form-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color:grey;
}
@media (min-width:600px){
    .my-form .form-box{
    font-size: 1.25rem;
    }
}
@media (min-width:800px){
    .my-form .form-box{
    font-size: 1.5rem;
    line-height: 1.5;
    }
}