.mat-toolbar{
    color:white;
    background-color:#ff9900;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 40px;
}

.sidebar-container{
    height:100%;
}
.sidenav-main{
    width:15%;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#fff2e6;

}
