<div class="background">
    <mat-toolbar class="headercontainer">
        <span class="headerr" fxLayout="row" fxLayoutAlign="start center">
            <button class="menuicon" mat-icon-button (click)="drawer.toggle()" matTooltip="Main menu">
                        <mat-icon>menu</mat-icon>
                    </button>
            <img class="logoimg" src="../../../assets/images/keep_app_logo.png">
            <span class="appname">fundooApp</span>
        </span>
        <span fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="searchbar" fxLayout="row" fxLayoutAlign="center center" tabindex="0">
            <button mat-icon-button class="searchicon" (click)="onSearch()" fxLayoutAlign="center center">
                <mat-icon matTooltip="Search">search</mat-icon>
            </button>
            <input matInput placeholder="Search" [(ngModel)]="searchText" routerLink="/search">
            <button mat-icon-button class="searchicon">
                    <mat-icon matTooltip="Clear search">close</mat-icon>
                </button>
        </mat-card>
        </span>
        <button mat-icon-button>
            <mat-icon>settings_outline</mat-icon>
        </button>
        <button mat-icon-button matTooltip="List View">
            <mat-icon>list</mat-icon>
        </button>
        <button mat-mini-fab>
            <img class="profilepic" [src]="profilepic" [matMenuTriggerFor]="accountmenu">
        </button>
        <mat-menu #accountmenu overlapTrigger=false>
            <div class="account-menu" fxLayout="column">
                <div fxFlex=90 fxLayout="row">
                    <div fxFlex=40 fxLayoutAlign="center center">
                        <img [src]="profilepic" (click)="onChangeImage()" class='icon-display'>
                    </div>
                    <div fxFlex=60>
                        <p>{{firstName}} {{lastName}}</p>
                        <p class="accountemail">{{email}}</p>
                    </div>
                </div>
                <div fxFlex=10 fxLayout="row">
                    <div fxFlex=50>
                        <button class="accountbutton" mat-menu-item (click)="onSignOut()">Sign Out</button>
                    </div>
                    <div fxFlex=50>
                        <button class="accountbutton" mat-menu-item routerLink="/register">Add account</button>
                    </div>
                </div>
            </div>
        </mat-menu>
    </mat-toolbar>

    <mat-divider></mat-divider>
    <mat-drawer-container class="sidebar-container">
        <mat-drawer #drawer class="sidenav-main" mode="side" opened>

            <mat-nav-list fxLayout="column" fxLayoutGap="20px">
                <mat-icon fxLayout="row" fxLayoutAlign="start center">note<a mat-list-item routerLink="/notes">Notes</a>
                </mat-icon>
                <mat-icon fxLayout="row" fxLayoutAlign="start center">notifications_none<a mat-list-item>Reminders</a>
                </mat-icon>
                <mat-divider></mat-divider>
                <p mat-list-item style="color: grey; font-size: 12px">LABELS</p>
                <div *ngFor="let label of labels">
                    <mat-icon fxLayout="row" fxLayoutAlign="start center">label_outline<a mat-list-item (click)="onClickingLabel()" routerLink="/labels/{{label.label}}">{{label.label}}</a>
                    </mat-icon>
                </div>
                <mat-icon fxLayout="row" fxLayoutAlign="start center">edit<a mat-list-item (click)="openLabelDialog()">Edit labels</a></mat-icon>
                <mat-divider></mat-divider>

                <mat-icon fxLayout="row" fxLayoutAlign="start center">archive<a mat-list-item routerLink="/archive">Archive</a></mat-icon>
                <mat-icon fxLayout="row" fxLayoutAlign="start center">delete_outline<a mat-list-item routerLink="/trash">Trash</a>
                </mat-icon>
            </mat-nav-list>
        </mat-drawer>
        <mat-divider vertical="true"></mat-divider>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>

<!-- <mat-menu #belowMenu="matMenu" [overlapTrigger]="false">
    <div class='ProfileInfo' fxLayout="column">
        <div fxFlex=90 fxLayout="row">
            <div fxFlex=40 fxLayoutAlign="center center">
                <mat-icon class='icon-display'>account_circle</mat-icon>
            </div>
            <div fxFlex=60>
                <p>{{firstName+' '+lastName}}</p>
                <p>{{email}}</p>
            </div>
        </div>
        <div fxFlex=10 fxLayout="row">
            <div fxFlex=50>
                <button mat-menu-item routerLink="/login"> Add Account</button>
            </div>
            <div fxFlex=50>
                <button mat-menu-item *ngIf="auth.isLoggednIn()" (click)="auth.logout()">Logout</button>
            </div>
        </div>
    </div>
</mat-menu> -->