.background{
    background-color: white;
    height:100%;


.headercontainer{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100px;
    background-color: white;
    .searchbar{
        width:70%;
    }
    .searchbar::placeholder  {
        font-family: FontAwesome;
      }
}

.sidebar-container{
    background-color: white;
    height:100%;
    .sidenav-main{
        width:15%;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
}

}