.background{
    background-color: white;
    height:100%;


.headercontainer{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    background-color: white;
    .circle-button{
        border-radius: 50%;
        height:50px;
        width:50px;
        min-width:0px;
        padding:0;
    }
    .searchbar{
        width:70%;
        height:100%;
        padding:0;
    }
    .searchbar::placeholder  {
        font-family: FontAwesome;
      }
    .account-menu{
        width:2000px;
        height:100px;

    }
}

.sidebar-container{
    background-color: white;
    height:100%;
   

    .sidenav-main{
        width:15%;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        overflow: auto;
        overscroll-behavior-y: contain;
        overflow-y: auto;
        position: absolute

    }
    //button:hover { background-color: #ffdb3a; }
    //button:focus { background-color:red; }

}


}