<div class="background">
    <mat-toolbar fxLayoutAlign="space-around center" class="headercontainer">
        <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="../../../assets/images/keep_app_logo.png">
        <p>fundooApp</p>
        <mat-form-field class="searchbar" appearance="outline" >
            <input matInput placeholder="&#61442; Search">
        </mat-form-field>
        <button type="button" mat-button>
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <mat-divider></mat-divider>
    <mat-drawer-container class="sidebar-container">
        <mat-drawer #drawer class="sidenav-main" mode="side" opened>

            <mat-nav-list fxLayout="column" fxLayoutGap="20px">
                <mat-icon fxLayout="row" fxLayoutAlign="start center">note<a mat-list-item>Notes</a></mat-icon>
                <mat-icon fxLayout="row" fxLayoutAlign="start center">notifications_none<a mat-list-item>Reminders</a>
                </mat-icon>
                <mat-divider></mat-divider>

                <mat-icon fxLayout="row" fxLayoutAlign="start center">label<a mat-list-item>LABELS</a></mat-icon>
                <mat-divider></mat-divider>

                <mat-icon fxLayout="row" fxLayoutAlign="start center">archive<a mat-list-item>Archive</a></mat-icon>
                <mat-icon fxLayout="row" fxLayoutAlign="start center">delete_outline<a mat-list-item>Trash</a>
                </mat-icon>
            </mat-nav-list>

        </mat-drawer>
        <mat-divider vertical="true"></mat-divider>

        <app-takenote></app-takenote>
        <app-displaycards></app-displaycards>

    </mat-drawer-container>

</div>