<div fxLayoutAlign="center center">

  <mat-card class="form" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center">

    <h2 mat-subheader class="subheader">NEW USER REGISTRATION</h2>
    <img class="logoimage" src='../../assets/images/unnamed.webp'>

    <mat-divider [inset]="true"></mat-divider>

    <mat-card-content class="namecontainer" fxLayout="row" fxLayoutAlign="center space-around"> 

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Input" [formControl]="firstName" required>
        <mat-error *ngIf="firstName.invalid">{{getFirstNameInvalidMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name </mat-label>
        <input matInput placeholder="Input" [formControl]="lastName" required>
        <mat-error *ngIf="lastName.invalid">{{getLastNameInvalidMessage()}}</mat-error>
      </mat-form-field>

    </mat-card-content>

    <mat-form-field appearance="outline">
      <mat-label>Enter email</mat-label>
      <input matInput placeholder="Input" [formControl]="email" required type="email">
      <mat-error *ngIf="email.invalid">{{getEmailInvalidMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" hintLabel="Minimum length must be 6 characters">
      <mat-label>Enter password</mat-label>
      <input type="password" matInput placeholder="Input" [formControl]="password" required minlength="6"
        pattern="{{confirmPassword.value}}">
      <mat-error *ngIf="password.invalid">{{getPasswordInvalidMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input type="password" matInput placeholder="Input" [formControl]="confirmPassword" required minlength="6"
        pattern="{{ password.value }}">
      <mat-error *ngIf="confirmPassword.invalid">{{getConfirmPasswordInvalidMessage()}}</mat-error>
    </mat-form-field>

    <mat-card-content class="buttoncontainer" fxLayout="row" fxLayoutAlign="center center">

      <button mat-button (click)="onSignUp()">Sign Up</button>
      <button mat-button><a routerLink="/login">Existing User?</a></button>

    </mat-card-content>

  </mat-card>
</div>