<button *ngIf="isDeleted=='false'" mat-icon-button matTooltip="More" [matMenuTriggerFor]="menugeneral">
        <img class="icon" src="../../../assets/images/menu.svg">
</button>
<mat-menu #menugeneral>
    <button mat-menu-item (click)="trashNote()">Delete Note</button>
    <button mat-menu-item [matMenuTriggerFor]="labelmenu">Add label</button>
    <button mat-menu-item (click)="onAskQuestion()">Ask a question</button>
    <button mat-menu-item (click)="createChecklist()">Show checkboxes</button>
</mat-menu>

<button mat-icon-button *ngIf="isDeleted=='true'" matTooltip="More" [matMenuTriggerFor]="menutrash">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menutrash>
    <button mat-menu-item (click)="deleteNoteForever()">Delete Forever</button>
    <button mat-menu-item (click)="onRestoreNote()">Restore</button>
</mat-menu>

<button mat-icon-button *ngIf="isNote=='note'" matTooltip="More" [matMenuTriggerFor]="takenotemenu">
    <mat-icon>more_vert</mat-icon>
  </button>
<mat-menu #takenotemenu>
    <button mat-menu-item [matMenuTriggerFor]="labelmenu">Add label</button>
    <button mat-menu-item (click)="createChecklist()">Show checkboxes</button>
</mat-menu>
<mat-menu #labelmenu>
    <p>Label Note</p>
    <mat-selection-list #selectedlabels>
        <mat-list-option *ngFor="let label of labels" (click)="afterLabelSelection(label.id)">
            {{label.label}}
        </mat-list-option>
    </mat-selection-list>
</mat-menu>