<button mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu>
  <button mat-menu-item (click)="trashNote(recordid)">Delete Note</button>
  <button mat-menu-item [matMenuTriggerFor]="labelmenu">Add label</button>
  <button mat-menu-item>Add drawing</button>
  <button mat-menu-item>Make a copy</button>
  <button mat-menu-item>Show checkboxes</button>
</mat-menu>
<mat-menu #labelmenu>
  <p>Label Note</p>
  <mat-selection-list #selectedlabels>
    <mat-list-option *ngFor="let label of labels" (click)="afterLabelSelection(recordid,label.id)">
      {{label.label}}
    </mat-list-option>
  </mat-selection-list>
</mat-menu>