<div fxLayout="row" fxFlex="100">
  <app-remindmeicon></app-remindmeicon>
  <app-collaboratoricon></app-collaboratoricon>
  <app-colorsicon [recordid]=recordid (messageEvent)="receiveUpdateMessage($event)"></app-colorsicon>
  <app-imageicon></app-imageicon>
  <app-archiveicon [recordid]=recordid (messageEvent)="receiveUpdateMessage($event)"></app-archiveicon>
  <app-moremenu [isNote]='isNote' [isDeleted]="isDeleted" [recordid]=recordid (messageEvent)="receiveUpdateMessage($event)"></app-moremenu>
</div>