.mat-card{
    height:20px;
}

.mat-button{
    min-width: 0px;
}
.color-pallete{
    width: 144px;
    height: 102px;
}

.color-pallete > button{
    border-radius: 50%;
    margin: 2px;
    height:30px;
    width:20%;
    display: inline-block;
}