<div fxLayout="row" fxFlex="100">
    <app-remindmeicon [recordid]=recordid (messageEvent)="receiveUpdateMessage($event)"></app-remindmeicon>
    <app-collaboratoricon (messageEvent)="receiveUpdateMessage($event)" [recordid]=recordid></app-collaboratoricon>
    <app-colorsicon [recordid]=recordid (messageEvent)="receiveUpdateMessage($event)"></app-colorsicon>
    <app-imageicon></app-imageicon>
    <app-archiveicon [isArchived]="isArchived" [recordid]=recordid (messageEvent)="receiveUpdateMessage($event)"></app-archiveicon>
    <app-moremenu [isNote]='isNote' [isDeleted]="isDeleted" [recordid]=recordid (messageEvent)="receiveUpdateMessage($event)"></app-moremenu>
</div>

<!-- <div *ngIf="isDeleted=='true'" fxLayout="row" fxFlex="100">
    <app-moremenu [isNote]='isNote' [isDeleted]="isDeleted" [recordid]=recordid (messageEvent)="receiveUpdateMessage($event)"></app-moremenu>
</div> -->