.textt {
    border: none;
    outline: none;
    font-size: 18px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 10px;
}

.buttonbox {
    padding: 10px;
}

.chiplist {
    padding: 5px;
}

.chip {
    filter: brightness(80%);
    margin-bottom: 5px;
}

.profilepic {
    filter: brightness(80%);
    height: 40px;
    width: 40px;
    margin: 2px;
}