::ng-deep.mat-dialog-container {
    padding: 0;
    border-radius: 8px;
    width: 600px;
    min-width: 600px;
    overflow-x: hidden;
}

.textt {
    border: none;
    outline: none;
    font-size: 18px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 10px;
}

.buttonbox {
    padding: 10px;
}

// .mat-dialog-content{
//     padding:0;
//     border-radius: 20px;
//     background-color: red;
// }