<div fxLayout="row wrap" class="cardcontainer">
  <mat-card *ngFor="let record of records" [ngStyle]="{background:record.color}" fxFlex="30"  >
    <div (click)="openDialog(this.record)">
      <p>{{record.title}}</p>
      <p>{{record.description}}</p>
    </div>
    <button mat-button matTooltip="More" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu>
      <button mat-menu-item (click)="deleteNoteForever(this.record.id)">Delete forever</button>
      <button mat-menu-item (click)="onRestoreNote(this.record.id)">Restore</button>
    </mat-menu>
  </mat-card>
</div>

<!-- make dialog box -->
